<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link href="../static/style.css" th:href="@{style.css}" rel="stylesheet" />
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>User Form</h1>

<form action="#" th:action="@{/userForm}" th:object="${user}" method="post">

    <p><input type="text" placeholder="Name" th:field="*{name}" /></p>
    <p><input type="text" placeholder="Description" th:field="*{location}" /></p>
    <p><input type="submit" value="Submit" /><br>
       <input type="reset" value="Reset" /></p><br>

    <a th:href="@{list}">View list of users</a><br>

</form>

</body>
</html>