<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of available offers</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<h2>Offers list</h2>

<table style="width:100%">
    <tr>
        <th>Title</th>
        <th>Name</th>
        <th>Decription</th>
    </tr>
    <tr th:each="offer : ${offers}">
        <td th:text="${offer.title}">Data</td>
        <td th:text="${offer.user.name}">Data</td>
        <td th:text="${offer.description}">Data</td>
    </tr>
</table>

</body>
</html>